.side_bar
  .contents
    .contents__title
      カテゴリ一覧
    = link_to "/categories/1/experts", class: "content" do
      .content__name
        ビジネス
      .content__number
        10件
    = link_to "/categories/2/experts", class: "content" do
      .content__name
        スポーツ
      .content__number
        10件
    = link_to "/categories/3/experts", class: "content" do
      .content__name
        アウトドア趣味(スポーツ以外)
      .content__number
        10件  
    = link_to "/categories/4/experts", class: "content" do
      .content__name
        ゲーム
      .content__number
        10件 
    = link_to "/categories/5/experts", class: "content" do
      .content__name
        インドア趣味(ゲーム以外)
      .content__number
        10件