.form__container
  .upper__message
    = f.label :name, "Expert", class: "expert__label"
    .form__require
      必須
  = f.text_field :name, class: "expert__input-small", placeholder: "得意分野の名前"
  = render partial: 'modules/expert_error_message', locals: {expert: @expert, column: "name"}
.form__container
  .upper__message
    = f.label :category_id, "Category", class: "expert__label"
    .form__require
      必須
  .select__wrapper
    = fa_icon "chevron-down", class: "select-arrow"
    = f.select :category_id, [["カテゴリを選んでください",nil],["ビジネス",1],["スポーツ",2],["アウトドア趣味(スポーツ以外)",3],["ゲーム",4],["インドア趣味(ゲーム以外)",5]], {}, {class: "expert__select"}
    = render partial: 'modules/expert_error_message', locals: {expert: @expert, column: "category_id"}
.form__container
  .upper__message
    = f.label :career, "Career", class: "expert__label"
    .form__require
      必須
  .select__wrapper
    = fa_icon "chevron-down", class: "select-arrow"
    = f.select :career, [["経験を選んでください",nil],["1ヶ月未満","1ヶ月未満"],["1~6ヶ月","1~6ヶ月"],["7~11ヶ月","7~11ヶ月"],["1~2年","1~2年"],["3~4年","3~4年"],["5年以上","5年以上"]], {}, {class: "expert__select"}
    = render partial: 'modules/expert_error_message', locals: {expert: @expert, column: "career"}
.form__container
  .upper__message
    = f.label :contact, "Contact", class: "expert__label"
    .form__any
      任意
  = f.text_field :contact, class: "expert__input-small", placeholder: "希望連絡先"
.form__container
  .upper__message
    = f.label :text, "Introduction", class: "expert__label"
    .form__any
      任意
  = f.text_area :text, class: "expert__input-large", placeholder: "自己紹介文　例）こんにちは！もし〇〇を始めたいという方がいましたら、ぜひご連絡をお願いします！"
= f.submit "complete", class: "expert__btn submit"
- if request.path_info == "/categories/#{@expert.category_id}/experts/#{@expert.id}/edit"
  =link_to "/categories/#{@expert.category_id}/experts/#{@expert.id}", class: "return__btn" do
    return
- else 
  =link_to root_path, class: "return__btn" do
    return