= render "shared/header"
.main-content
  .expert-main-container
    .main-container__wrapper
      - if @expert.user.avatar.attached?
        = image_tag @expert.user.avatar, class: "card__image"
      - else
        = image_tag "ques.jpg", class: "card__image"
      .card__right-message__container
        .member-infomation__content
          .member__head-title
            Nickname
          .member__body-message
            = @expert.user.nickname
        .member-infomation__content
          .member__head-title
            Contact
          .member__body-message
            = @expert.contact
      .card__bottom-message__container
        .member-infomation
          .member-infomation__content
            .member__head-title
              Specialty
            .member__body-message
              = @expert.name
          .member-infomation__content
            .member__head-title
              Career
            .member__body-message
              = @expert.career
        - if @expert.user_id == current_user.id
          .member_btn__wrapper
            = link_to edit_category_expert_path, class: "member_private__btn edit" do
              Edit
            -# = link_to "", class: "member_private__btn delete" do
            -#   Delete
        .member-introduction__content
          = @expert.text
        =link_to "/categories/#{@category.id}/experts", class: "expert-return__btn" do
          return